@function toVh($value) {
  @return $value / 100vw * 100vh;
}

$width: 100vw;
$height: toVh(95vw);

$plot-width: 5 * $width/15;

$user-input-width: 5 * $width/15;

$table-width: 13 * $width/15;

$box-shadow-unit: 0.01 * $plot-width; // 5px

$plot-left-offset: $width/15;
$plot-top-offset: 2 * $height/15;

$user-input-left-offset: 9 * $width/15;
$user-input-top-offset: 2 * $height/15;

$table-left-offset: $width/15;

$cleaner-left-offset: 5 * $width/15;

$button-width: 1.5 * $width/15;
$button-height: 0.7 * $height/15;

// 1/15 | 5/15 | 3/15 | 5/15 | 1/15

.table_section {
  width: $table-width;

  #cleaner {
    position: relative;
    padding: 1vw;
    left: $cleaner-left-offset;
    font-size: $box-shadow-unit*4;

    button {
      color: whitesmoke;
      background: rgba(0, 0, 0, 0.83);
      width: $button-width;
      height: $button-height;
      border-radius: 20px 20px 20px 20px;
      font-size: $box-shadow-unit*3;
      //transition: 0.5s;
    }

    button:hover {
      box-shadow: 0 0 10px 5px navajowhite;
    }

    button:active {
      box-shadow: 0 0 10px 5px #f41c52;
    }
  }

  #hitTable {
    position: relative;
    font-size: $box-shadow-unit*4;
    width: $table-width;
    border: 1px solid black;
    box-shadow: 0 0 $box-shadow-unit * 2 $box-shadow-unit rgba(221, 221, 221, 1);
    transition: 0.5s;
    border-radius: $box-shadow-unit * 4 $box-shadow-unit * 4 $box-shadow-unit * 4 $box-shadow-unit * 4;

    * {
      text-align: center
    }

    tr:first-of-type {
      background: rgba(0, 0, 0, 0.83);
    }

    tr:nth-child(odd) {
      background: rgb(29, 29, 29);
    }

    td, th {
      border-radius: $box-shadow-unit*4 $box-shadow-unit*4 $box-shadow-unit*4 $box-shadow-unit*4;
      padding: $box-shadow-unit;
    }
  }

  #hitTable:hover {
    box-shadow: 0 0 $box-shadow-unit*8 $box-shadow-unit #f41c52;
  }
}
