<section class="table_section">

  <div id="cleaner">
    <button (click)="clearTable()" class="cleanerButton">CLEAN TABLE</button>
  </div>

  <table id="hitTable">
    <tr>
      <th>X</th>
      <th>Y</th>
      <th>R</th>
      <th>CURRENT TIME</th>
      <th>EXECUTION TIME</th>
      <th>HIT RESULT</th>
    </tr>
    <tr *ngFor="let point of hitList">
      <td>{{point.coordinates.xvalue.toFixed(3)}}</td>
      <td>{{point.coordinates.yvalue.toFixed(3)}}</td>
      <td>{{point.coordinates.rvalue.toFixed(3)}}</td>
      <td>{{point.currentTime}}</td>
      <td>{{point.executionTime}}</td>
      <td [style.color]="point.hitResult ? 'green' : 'red'">{{point.hitResult ? "TRUE" : "FALSE"}}</td>
    </tr>
  </table>

</section>
