@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

header {
  background: rgba(24, 24, 24, 0.83);
  font-family: 'ZCOOL KuaiLe', 'Times New Roman', serif;
  color: white;
  height: 6vw;
  font-size: 4vw;
  text-align: left;
  transition: 0.5s;
}
