.background {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0.003 * 2vw solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2vw rgba(8, 7, 16, 0.6);

  .shape {
    position: absolute;
    width: 17%;
    height: 17%;
    transform: translate(-50%, 0);
    border-radius: 50%;
  }

  #blueCircle {
    top: 7%;
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
  }

  #orangeCircle {
    left: 100%;
    top: 78%;
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
  }

  app-auth-form-switcher {
    position: relative;
    display: block;
    width: 100%;
    height: 10%;
    backdrop-filter: blur(0.03 * 5vw);
    font-size: 2vw;

    .authLabel {
      font-size: 3vw;
    }
  }

  .authForm {
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    height: 90%;
    backdrop-filter: blur(0.03 * 5vw);
    //background-color: blueviolet;

    app-auth-form-login {
      position: relative;
      display: block;
      width: 90%;
      left: 10%;
      height: 100%;

      label {
        font-size: 150%;
      }

      input {
        font-size: 200%;
      }

      #usernameAlerts {
        left: 2%;
        font-size: 80%;
      }

      #passwordAlerts {
        left: 2%;
        font-size: 80%;
      }
    }

    app-auth-form-register {
      position: relative;
      display: block;
      width: 90%;
      left: 10%;
      height: 100%;
      //background-color: #ff512f;

      label {
        font-size: 150%;
      }

      input {
        font-size: 200%;
      }

      #usernameAlerts {
        left: 2%;
        font-size: 80%;
      }

      #passwordAlerts {
        left: 2%;
        font-size: 80%;
      }
    }

    * {
      font-family: 'Poppins', sans-serif;
      color: #ffffff;
      letter-spacing: 0.1vw;
      outline: none;
      border: none;
      position: relative;
    }
  }

  app-auth-form-button {
    text-align: center;
    left: 30%;
    width: 20%;
  }
}
