<!--<app-entry-page></app-entry-page>-->

<!--<h1>Angular Router App</h1>-->
<!--&lt;!&ndash; This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) &ndash;&gt;-->
<!--<nav>-->
<!--  <ul>-->
<!--    <li><a routerLink="/entry" routerLinkActive="active">Entry</a></li>-->
<!--    <li><a routerLink="/main" routerLinkActive="active">Main</a></li>-->
<!--  </ul>-->
<!--</nav>-->
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
