@media (min-width: 1267px) {
  entry-page-header {
    position: absolute;
    width: 100vw;
    height: 3vw;
    font-size: 3vw;
  }

  app-exit-button {
    position: absolute;
    right: 1vw;
    width: 4vw;
    height: 2.5vw;
    font-size: 2vw;
  }

  app-plot {
    position: absolute;
    left: 10vw;
    top: 8vw;
    width: 25vw;
    height: 25vw;
  }

  app-user-input {
    position: absolute;
    right: 10vw;
    top: 8vw;
    width: 25vw;

    #form {
      font-size: 2vw;
    }

    #Error_text {
      font-size: 2vw;
    }

    #buttons {
      button {
        font-size: 2vw;
      }
    }
  }

  app-table {
    position: absolute;
    left: 10vw;
    top: 35vw;
    width: 80vw;

    #cleaner {
      button {
        font-size: 2vw;
      }
    }

    #hitTable {
      font-size: 2vw;
    }
  }
}

@media (min-width: 780px) and (max-width: 1267px) {
  entry-page-header {
    position: absolute;
    width: 100vw;
    height: 3vw;
    font-size: 3vw;
  }

  app-exit-button {
    position: absolute;
    right: 1vw;
    width: 4vw;
    height: 3vw;
    font-size: 2vw;
  }

  app-plot {
    position: absolute;
    left: 5vw;
    top: 8vw;
    width: 50vw;
    height: 50vw;
  }

  app-user-input {
    position: absolute;
    right: 5vw;
    top: 8vw;
    width: 37vw;
    min-height: 30vw;
  }

  app-table {
    position: absolute;
    right: 5vw;
    top: 60vw;
    width: 90vw;
  }
}

@media (max-width: 780px) {
  entry-page-header {
    position: absolute;
    width: 100vw;
    height: 7vw;
    font-size: 5vw;
  }

  app-exit-button {
    position: absolute;
    right: 3vw;
    top: 7vw;
    width: 9vw;
    height: 5vw;
    font-size: 4vw;
  }

  app-plot {
    position: relative;
    display: block;
    left: 15vw;
    top: 10vw;
    width: 70vw;
    height: 70vw;
  }

  app-user-input {
    position: relative;
    display: block;
    left: 15vw;
    top: 15vw;
    width: 70vw;
  }

  app-table {
    position: relative;
    display: block;
    top: 20vw;
    width: 100vw;
    font-size: 4vw;
  }
}
