<section class="user_input">

  <form [formGroup]="userInput" id="form">

    <div class="values">

      <!--      X value-->
      <div class="X_value">
        <label for="X_value">X value:</label>
        <select formControlName="xSelect"
                id="X_value"
                required>
          <option [ngValue]="null" disabled selected>Select coordinate</option>
          <option *ngFor="let x of xSelectOptions" [ngValue]="x">
            {{ x.value }}
          </option>
        </select>
      </div>

      <!--    Y value-->
      <div class="Y_value">
        <label for="Y_value">Y value:</label>
        <input formControlName="yText"
               id="Y_value"
               maxlength="6"
               pattern="^[+-]?\d+(\.\d+)?$"
               placeholder="Enter values (-5 ... 3)"
               required/>
      </div>

      <!--    R value-->
      <div class="R_value">
        <label for="R_value">R value:</label>
        <select (change)="valueTransfer.switchRValue(rSelect.value.value)"
                formControlName="rSelect"
                id="R_value"
                required>
          <option [ngValue]="null" disabled selected>Select coordinate</option>
          <option *ngFor="let r of rSelectOptions" [ngValue]="r">
            {{ r.value }}
          </option>
        </select>
      </div>
    </div>
  </form>

  <div id="Error_text">

    <!--      /* X alerts */-->
    <div *ngIf="xSelect.dirty || xSelect.touched">
      <div *ngIf="xSelect.hasError('required')">
        <app-alert-field className="requiredAlert"
                         innerText="X coordinate is empty!"></app-alert-field>
      </div>
    </div>

    <div *ngIf="yText.dirty || yText.touched">
      <div *ngIf="yText.hasError('required')">
        <app-alert-field className="requiredAlert"
                         innerText="Y coordinate is empty!"></app-alert-field>
      </div>
      <div *ngIf="yText.hasError('pattern')">
        <app-alert-field className="patternAlert"
                         innerText="Y coordinate should be float value!"></app-alert-field>
      </div>
      <div *ngIf="yText.hasError('min')">
        <app-alert-field className="minAlert"
                         innerText="Y coordinate should be great than -5!"></app-alert-field>
      </div>
      <div *ngIf="yText.hasError('max')">
        <app-alert-field className="maxAlert"
                         innerText="Y coordinate should be less than 3!"></app-alert-field>
      </div>
    </div>

    <div *ngIf="rSelect.dirty || rSelect.touched">
      <div *ngIf="rSelect.hasError('required')">
        <app-alert-field className="requiredAlert"
                         innerText="R coordinate is empty!"></app-alert-field>
      </div>
      <div *ngIf="rSelect.hasError('min')">
        <app-alert-field className="minAlert"
                         innerText="R coordinate is empty!"></app-alert-field>
      </div>
    </div>
  </div>

  <div id="buttons">
    <button
      (click)="submit()"
      [disabled]="this.userInput.invalid"
      class="btn btn-default">
      Добавить
    </button>
  </div>
</section>
