.switch-contents {
  position: relative;
  text-align: center;
  //top: 100%;
  z-index: 999;
}

input[name="layout"] {
  display: none;

  &:checked + label {
    border-bottom: 0.2vw solid #3498db;
    cursor: default;
  }
}

label {
  display: inline-block;
  margin: 0 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    border-bottom: 0.2vw solid #000;
  }
}
